&lt;div class="container-fluid"&gt;
  	&lt;div class="row-fluid"&gt;
		&lt;h1&gt;Age {{require.age}}&lt;/h1&gt;
		&lt;div class="span2"&gt;
			&lt;h2&gt;Boy&lt;/h2&gt;
			&lt;hr&gt;
				&lt;h3&gt;Presidential&lt;/h3&gt;
				&lt;hr&gt;
					&lt;h4&gt;Curl Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.pres.curlUps}}&lt;/strong&gt;
					&lt;h4&gt;Shuttle Run&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.pres.shuttleRun}}&lt;/strong&gt;
					&lt;h4&gt;Sit and Reach&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.pres.sitReach}}&lt;/strong&gt;
					&lt;h4&gt;Mile Run&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.pres.mileRun}}&lt;/strong&gt;
					&lt;h4&gt;Push Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.pres.pushUps}}&lt;/strong&gt;
					&lt;hr&gt;
				&lt;h3&gt;National&lt;/h3&gt;
				&lt;hr&gt;
					&lt;h4&gt;Curl Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.nat.curlUps}}&lt;/strong&gt;
					&lt;h4&gt;Shuttle Run&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.nat.shuttleRun}}&lt;/strong&gt;
					&lt;h4&gt;Sit and Reach&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.nat.sitReach}}&lt;/strong&gt;
					&lt;h4&gt;Mile Run&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.nat.mileRun}}&lt;/strong&gt;
					&lt;h4&gt;Push Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.boy.nat.pushUps}}&lt;/strong&gt;
		&lt;/div&gt;
		&lt;div class="span2"&gt;
			&lt;h2&gt;Girl&lt;/h2&gt;
			&lt;hr&gt;
				&lt;h3&gt;Presidential&lt;/h3&gt;
				&lt;hr&gt;
					&lt;h4&gt;Curl Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.pres.curlUps}}&lt;/strong&gt;
					&lt;h4&gt;Shuttle Run&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.pres.shuttleRun}}&lt;/strong&gt;
					&lt;h4&gt;Sit and Reach&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.pres.sitReach}}&lt;/strong&gt;
					&lt;h4&gt;Mile Run&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.pres.mileRun}}&lt;/strong&gt;
					&lt;h4&gt;Push Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.pres.pushUps}}&lt;/strong&gt;
					&lt;hr&gt;
				&lt;h3&gt;National&lt;/h3&gt;
				&lt;hr&gt;
					&lt;h4&gt;Curl Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.nat.curlUps}}&lt;/strong&gt;
					&lt;h4&gt;Shuttle Run&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.nat.shuttleRun}}&lt;/strong&gt;
					&lt;h4&gt;Sit and Reach&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.nat.sitReach}}&lt;/strong&gt;
					&lt;h4&gt;Mile Run&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.nat.mileRun}}&lt;/strong&gt;
					&lt;h4&gt;Push Ups&lt;/h4&gt;
						&lt;strong&gt;{{require.girl.nat.pushUps}}&lt;/strong&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;