<div class="container-fluid">
  	<div class="row-fluid">
		<h1>Age {{require.age}}</h1>
		<div class="span2">
			<h2>Boy</h2>
			<hr>
				<h3>Presidential</h3>
				<hr>
					<h4>Curl Ups</h4>
						<strong>{{require.boy.pres.curlUps}}</strong>
					<h4>Shuttle Run</h4>
						<strong>{{require.boy.pres.shuttleRun}}</strong>
					<h4>Sit and Reach</h4>
						<strong>{{require.boy.pres.sitReach}}</strong>
					<h4>Mile Run</h4>
						<strong>{{require.boy.pres.mileRun}}</strong>
					<h4>Push Ups</h4>
						<strong>{{require.boy.pres.pushUps}}</strong>
					<hr>
				<h3>National</h3>
				<hr>
					<h4>Curl Ups</h4>
						<strong>{{require.boy.nat.curlUps}}</strong>
					<h4>Shuttle Run</h4>
						<strong>{{require.boy.nat.shuttleRun}}</strong>
					<h4>Sit and Reach</h4>
						<strong>{{require.boy.nat.sitReach}}</strong>
					<h4>Mile Run</h4>
						<strong>{{require.boy.nat.mileRun}}</strong>
					<h4>Push Ups</h4>
						<strong>{{require.boy.nat.pushUps}}</strong>
		</div>
		<div class="span2">
			<h2>Girl</h2>
			<hr>
				<h3>Presidential</h3>
				<hr>
					<h4>Curl Ups</h4>
						<strong>{{require.girl.pres.curlUps}}</strong>
					<h4>Shuttle Run</h4>
						<strong>{{require.girl.pres.shuttleRun}}</strong>
					<h4>Sit and Reach</h4>
						<strong>{{require.girl.pres.sitReach}}</strong>
					<h4>Mile Run</h4>
						<strong>{{require.girl.pres.mileRun}}</strong>
					<h4>Push Ups</h4>
						<strong>{{require.girl.pres.pushUps}}</strong>
					<hr>
				<h3>National</h3>
				<hr>
					<h4>Curl Ups</h4>
						<strong>{{require.girl.nat.curlUps}}</strong>
					<h4>Shuttle Run</h4>
						<strong>{{require.girl.nat.shuttleRun}}</strong>
					<h4>Sit and Reach</h4>
						<strong>{{require.girl.nat.sitReach}}</strong>
					<h4>Mile Run</h4>
						<strong>{{require.girl.nat.mileRun}}</strong>
					<h4>Push Ups</h4>
						<strong>{{require.girl.nat.pushUps}}</strong>
		</div>
	</div>
</div>